python-crontab
sqlalchemy
boto3==1.9.206
# nltk
pandas
# spacy
# matplotlib
pymongo
lxml
git+https://github.com/LIAAD/yake
git+https://github.com/pdfminer/pdfminer.six
requests
sumy==0.8.1
luigi==2.8.6
awscli==1.16.216
dnspython